# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df = pd.read_csv("../WeatherPy/output_data/cities.csv")

df

,City ID,City,Cloudiness,Country,Humidity,Lat,Lng,Temperature,Wind Speed
0,2014369,Ulety,10,RU,86,51.3572,112.4849,13.56,1.92
1,1636308,Manokwari,99,ID,72,-0.8667,134.0833,26.50,3.13
2,3874787,Punta Arenas,75,CL,61,-53.1500,-70.9167,7.96,10.80
3,4035715,Avarua,75,CK,83,-21.2078,-159.7750,24.03,6.17
4,5106841,Albany,14,US,54,42.6001,-73.9662,24.46,0.45
...,...,...,...,...,...,...,...,...,...
584,1150965,Ranong,98,TH,89,9.9658,98.6348,26.53,4.39
585,400666,Rhodes,0,GR,81,36.4408,28.2225,26.55,8.75
586,1855540,Naze,100,JP,87,28.3667,129.4833,26.51,11.86
587,293842,Kiryat Gat,0,IL,100,31.6100,34.7642,27.72,2.68
588,60019,Eyl,93,SO,82,7.9803,49.8164,24.64,10.28

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [2]:
gmaps.configure(api_key=g_key)

In [5]:
fig=gmaps.figure()

heat=gmaps.heatmap_layer(df[["Lat","Lng"]],df["Humidity"])

fig.add_layer(heat)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure